/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.login-page{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(61, 160, 68, 0.8));
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  /* background-color: white; */

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
}

.login-content {
  text-align: center;
}

.logos {
  text-align: center;
  margin-bottom: 2rem;
  color: #05671f;
/* color: #023336; */
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #eeeeee4b; */
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
background: none;
  padding: 10px 14px;
 
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1000;
  font-weight: bold;
}

.back > svg {
  /* margin-right: 5px; */
  font-size: 25px;
  transition: all 0.4s ease-in;
  color: black;
  font-weight: bold;
}

.back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.notification {
  text-align: center;
  padding: 10px;
  background-color: #16a34a;
  color: white;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 5px;
}


.start {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-labels {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #05671f;
  color: white;
}

.btn-primary:hover {
  background-color: #45a049;
}

.final {
  margin-top: 20px;
  font-size: 1rem;
  color: black;
    font-weight: bold;

}

.final a {
  color: #05671f;
  text-decoration: none;
  font-weight: bold;
}

.final a:hover {
  /* text-decoration: underline; */
  color: white;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .login-container {
    padding: 30px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .start input {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }

  .final {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 20px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .form-control {
    font-size: 1rem;
  }

  .button {
    font-size: rem1;
  }

  .final {
    font-size: 1rem;
  }

  .logos {
    font-size: 1.5rem;
  }
}
